<div class="">
  <div class="message-box msg-<%= message.usuario.id %>">
      <h6 class="name navletter"> <%= message.usuario.nombre %> </h6>
    <h6 class = "navletter"> <%= message.body %></h6>
  </div>
</div>