<div class="tile is-vertical img-welcome ">

<% if usuario_signed_in? %>
    <h1 class="titlee has-text-centered">Bienvenido <%= current_usuario.nombre %> </h1>
    <br>
    <br>
    <div class="buttons is-centered">
    <br>
    <br>
      <a class="button is-large is-responsive" href="products/new">Crear Publicación</a>
      <a class="button is-large is-responsive" href="products">Explorar Ofertas</a>
      <br>
    <br>
    </div>
    <br>
    <br>
  </div>
<% else %>
        <div class="container">
    <section class="hero is-fullheight hero-img">
      <div class="hero-body">
        <div class="hero-content has-text-centered">
          <h1 class="title is-1">¡Intercambia videojuegos!</h1>
          <p class="titlee is-4">Conéctate con otros jugadores y haz trueques.</p>
        </div>
      </div>
    </section>
  </div>

<% end %>

</div>
