<div class ="box main-banner product-div ">
  <h1 class="title is-4"><%= product.nombre %></h1>
  <figure >
          <img src="<%= product.image.try(:url) %>" class = "imagen-view">
         </figure>
         <div class= "hero">
          <div class = "hero body">
            <p class= "subtitle-product">Plataforma</p>
               <p class = "description"> <%= product.plataforma.nombre %></p>
        <br>
        <p class= "subtitle-product">Descripción</p>
        <p class = "description"><%= product.descripcion %></p>
        </div>
        </div>
      </div>
