<div class= "main-banner">
<link rel="stylesheet" href="product_form.css">
<br>

<%= render "form", product: @product %>

<br>

<div>
  <div>
  <%= link_to "VOLVER ", products_path %>
</div>
</div>
</div>