.main-container {
  display: flex;
  flex-direction: column;
}

.superior-container {
  display: flex;
  justify-content: space-between;
}

.hexmap-container {
  flex: 1;
  max-width: 100%; /* Cambié el ancho máximo a 70% para dejar espacio para el inventario */
  overflow: auto; /* Agregado para permitir el desplazamiento si el contenido es demasiado grande */
}

.inventory-container {
  flex: 1;
  max-width: 20%; /* Cambié el ancho máximo a 30% para dejar espacio para el mapa */
  padding-left: 10px; /* Agregué un relleno a la izquierda para separar el inventario del mapa */
}

.plays-container {
  display: flex;

  flex-direction: column;
  color: white;
  margin-right: 15px;
  overflow-y: auto;
  max-height: 600px;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre los divs */
}

.action-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px; /* Ancho mínimo de los divs */
}

.empty-space {
  height: 100px; /* Ajusta la altura según sea necesario */
}

.dice-image {
  width: 90px; 
  height: 90px; 
  object-fit: contain; 
}
.hexmap {
  width: 1200px;
  height: 600px;
}

.hexagon {
  fill: #ccc;
  stroke: #333;
  stroke-width: 2px;
}

.label {
  fill: #000;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-anchor: middle;
}

.hexagon {
  transform: scale(); 
}
  .user-1 { fill: #f4a261; }
  .user-2 { fill: #e76f51; }
  .user-3 { fill: #2a9d8f; }
  .user-4 { fill: #264653; }
