@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.main-banner{
    background: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #0142a0, #0f133a 44.41%, #101034 56.43%, #141034 69.58%, #301436 100%, #411958 0 ) ;

    color: #000000;
    padding: 20px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-bannerr{
  background: #3b3b3b ;

  color: #000000;
  padding: 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sub-banner{
  background: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #193a68, #202874 44.41%, #0d720a 56.43%, #2b1647 69.58%, #301436 100%, #411958 0 ) ;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #f10a0a,
    0 0 10px #fff,
    0 0 21px #b61313,
    0 0 42px rgb(4, 97, 66),
    0 0 82px #0fa,
    0 0 92px rgb(5, 151, 103),
    0 0 102px rgb(6, 219, 152),
    0 0 151px rgba(2, 156, 105, 0.884);
}

.navletter{
  color: #fff
}

.product-view{
  background-color: #474242;
}

.degradado {
  background-color: #242424;
  /* Esto establece la altura para que llene la pantalla verticalmente */
  background-attachment: fixed; /* Esto fija el fondo mientras se desplaza */
}

.letra, .subtitle {
  font-family: Orbitron, sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  width: 50%;
  text-align: right;
  transform: translateX(5%);
}

.bananero{
  background: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #0142a0, #0f133a 44.41%, #101034 56.43%, #141034 69.58%, #301436 100%, #411958 0 ) ;

  color: #000000;
  padding: 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title{
    font-family: Orbitron, sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}
.nombre{
  font-family: Orbitron, sans-serif;
  font-size: 2.5rem;
  color: #e45d5d;
}
.froms{
  background-color: #444444;
}
.litle{
  font-family: Orbitron, sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.bot-center {
  align-self: center;
}
.imagen-producto {
  max-width: 400px;
  max-height: 400px;
}
.imagen-view {
  max-width: 200px;
  max-height: 200px;
  margin: auto; /* Centra la imagen horizontal y verticalmente */
  display: block;
}

.description{
    font-family: Orbitron, sans-serif;
    font-size: 1rem;
    color: rgb(165, 206, 241);
}

.subtitle-product{
  font-family: Orbitron, sans-serif;
  font-size: 1.5rem;
  color: rgb(247, 247, 247);
}

.graphic{
    position: relative;
    display: grid;
    padding-top: 3rem;
}
.product-div {
  width: 350px; 
  height: 550px; 
  border: 1px solid black;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Encabezado */
  .header {
    background-color: #35465d;
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar-brand h1 {
    font-weight: bold;
    color: #fff;
  }

  .navbar.is-light {
    background-color: #3b3b3b;
  }
  .navletter{
    color: #fff
  }
  .navbar-item {
    display: flex;
    align-items: center;
    color: #fff;
  }

  .navbar-end{
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 20px;
  }

  .navbar-start{
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 20px;
  }
  
  /* Hero sección */
  .hero-img {
    background-image: url('background.jpg');
    background-position: center;
    background-attachment: fixed;
  }
  
  .hero-left, .hero-right {
    flex: 1;
  }
  
  .hero-content {
    padding: 20% 0;
  }
  
  .titlee, .subtitle {
    font-family: Orbitron, sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
  }

  .titleeeee, .subtitle {
    font-family: Orbitron, sans-serif;
    color: #101010;
    font-size: 2.5rem;
  }

  .letra, .subtitle {
    font-family: Orbitron, sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    width: 50%;
    text-align: right;
    transform: translateX(5%);
  }

  .titleee, .subtitle {
    font-family: Orbitron, sans-serif;
    color: #000000;
    font-size: 2.5rem;

  }

  .titleeee, .subtitle {
    font-family: Orbitron, sans-serif;
    color: #000000;
    font-size: 1.5rem;
  }
  
  /* Botones */
  .button {
    font-weight: bold;
    background-color: #ffffff;
    color: #1f0745;
    }
  
  .button.is-primary {
    background-color: #4a21dfe2;
    color: #fff;
  }
  
  .button.is-light {
    background-color: #f0f0f0;
    color: #000;
  }

  .product-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e4e4e4;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .product-show {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e4e4e4;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .msg-show {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e4e4e4;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 500px;
  }
  
  /* Contenedor principal del formulario */
  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  /* Columna izquierda */
  .form-left {
    width: 65%;
  }
  
  /* Columna derecha */
  .form-right {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .msg-form {
    width: 100%;
    height: 56px;
    padding: 10px;
  }

  .msg-show {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e4e4e4;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 500px;
  }
  
  #single_room {
    height: calc(100vh - 150px);
  }
  
  #messages {
    height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 50px;
  }
  
  #room_container {
    height: 100vh;
    margin-right: 0px !important;
  }
  
  #side_panel {
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 55px;
  }
  #chatroom_container {
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .msg-content {
    width: 80%;
    margin-right: 5px;
  }
  .message-box {
    word-wrap: break-word;
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #2000a0d7;
    padding: 10px;
  }
  .left-div{
    float: left;
  }
  .bottom-div{
    position: bottom;
  }
  .right-div {
    float: right;
  }