.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    background-color: #333;
    border-radius: .5em;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .landing-title-container {
    margin-bottom: 20px;
  }

  .landing-title {
    font-size: 36px;
    margin: 0;
    
  }
  
  .landing-text {
    font-size: 24px;
    margin: 0;
    color: var(--baby-powder);
  }
  
  @media (max-width: 600px) {
    .landing-title {
      font-size: 28px;
    }
  
    .landing-text {
      font-size: 20px;
    }
  }
  