<section class="section">
  <div class="container">
    <h1 class="title">Opciones</h1>
    <div class="columns">
      <div class="column">
        <a href="<%= admin_usuarios_path %>" class="button is-primary is-large is-fullwidth">Listar Usuarios</a>
      </div>
      <div class="column">
        <a href="<%= admin_products_path %>" class="button is-info is-large is-fullwidth">Listar Productos</a>
      </div>
    </div>
  </div>
</section>
