  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
  }
  .screen {
    background: #333;
    position: relative;
    height: 20%;
    width: 70%;
    box-shadow: 0px 0px 24px #000035;
    text-align: left;
    
  }
  
  
  
  
  
  h1 {
    text-align: center;
    color: var(--baby-powder);
    margin-bottom: 20px; /* Espacio debajo del título */
  }
  
  form {
    color: var(--baby-powder);
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  
  label {
    margin-bottom: 5px;
    
  }
  
 
  .form-group {
      margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--black);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d2212a;
  }
  .medium_button {
    align-self: center;
    
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Espacio superior */
  }
  
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre los campos */
  }
  
  label {
    margin-right: 10px; /* Espacio a la derecha de las etiquetas */
  }