.lobby-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .lobby-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }

p {
 color: var(--baby-powder)
}

  .lobbies_box{
    background-color: #333;
    margin: 40px;
    border-radius: .2em;
    padding: 20px;
    box-shadow: 0px 0px 24px #000035;
  }
  .lobby-item p {
    margin: 5px 0;
  }
  
  .lobby-item p:first-child {
    font-weight: bold;
  }
  
  .lobby-item:last-child {
    margin-bottom: 0;
  }

  h1 {
    color: var(--black)
  }
  .medium_button{
    margin:20px;
    max-width: 120px;
  }

  .side-holder{
    display: flex;
  }